# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* languages in Data Science
* libraries in Data Science
* tools for Data Science
* Usage of code and markdowns in Jupyter Notebook
* Basic of R programming

### Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. C++
4. Java

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. TenserFlow
5. Seaborn

|Data Science Tools|
|------------------|
|    Hadoop        |
|   TenserFlow     |
|    Pandas        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
minutes_to_hours = minutes/60
print(minutes_to_hours, "hours")

3.3333333333333335 hours

## Author

Pradip Chakraborty